<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Index</title>
</head>
<body>
<nav class="flex flex-row w-[70vw] text-center m-[5px_auto] bg-[#35373b] min-h-14">
    <a class="list-none font-bold text-white p-4 cursor-pointer active:bg-black"
       href="/{{configuration.url}}"
    >{{configuration.adminName}}</a>
    {{#tables}}
        <a class="capitalize no-underline text-[15px] font-bold text-white p-4 cursor-pointer hover:bg-black active:bg-black"
           href="/{{configuration.url}}/{{.}}/list"
        >{{.}}
        </a>
    {{/tables}}
</nav>
</body>
</html>

