<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/tailwind.min.css">
    <link rel="icon" type="image/x-icon" href={{configuration.favicon}}>
    <title>Index</title>
</head>
<body class="bg-gray-100 dark:bg-gray-900 dark:text-white">
<nav class="flex flex-row w-[70vw] text-center m-[5px_auto] bg-[#1a1919] min-h-14">
    <a class="list-none font-bold text-white p-4 cursor-pointer active:bg-black"
       href="/{{configuration.url}}"
    >{{configuration.adminName}}</a>
    <a class="no-underline font-bold text-base text-white p-4 cursor-pointer active:bg-black"
       href="/{{configuration.url}}/{{entityPath}}/list">
        Back to {{entity}} List
    </a>
</nav>
<p class="text-center mt-5">Entity instance (id: {{instanceId}}) deleted successfully!</p>
</body>
<footer class="fixed right-5 bottom-5">
    <div id="light-mode" onclick="setLightTheme()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor"
             stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun">
            <circle cx="12" cy="12" r="5"></circle>
            <line x1="12" y1="1" x2="12" y2="3"></line>
            <line x1="12" y1="21" x2="12" y2="23"></line>
            <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
            <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
            <line x1="1" y1="12" x2="3" y2="12"></line>
            <line x1="21" y1="12" x2="23" y2="12"></line>
            <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
            <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
        </svg>
    </div>
    <div id="dark-mode" onclick="setDarkTheme()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="feather feather-moon">
            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
        </svg>
    </div>
</footer>
<script>
    // Dark/Light mode toggle
    const darkModeIcon = document.getElementById('dark-mode');
    const lightModeIcon = document.getElementById('light-mode');

    if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
        darkModeIcon.style.display = 'none'
    } else {
        document.documentElement.classList.remove('dark');
        lightModeIcon.style.display = 'none';
    }


    function setDarkTheme() {
        document.documentElement.classList.add('dark');
        darkModeIcon.style.display = 'none';
        lightModeIcon.style.display = 'block'
        localStorage.theme = 'dark';
    }

    function setLightTheme() {
        document.documentElement.classList.remove('dark')
        darkModeIcon.style.display = 'block';
        lightModeIcon.style.display = 'none'
        localStorage.theme = 'light';
    }
</script>
</html>

